#app {
    height: 100%;
}

// .container {
//     display: flex;
//     flex-direction: column;
//     height: 100%;
//     .content {
//         background-color: #fff;
//         flex: 1;
//         overflow:auto;
//     }
//     ul.footer {
//         height: to(88);
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         border-top: 1px solid #ccc;
//         li {
//             overflow: hidden;
//             flex: 1;
//             height: 100%;
//             a {
//                 width: 100%;
//                 height: 100%;
//                 display: inline-block;
//                 text-align: center;
//                 line-height: to(88);
//             }
//         }
//     }
// }

.example-enter {
    transform:translate3d(100%,0,0);
}

.example-enter-active {
    transition:all ease-out 1s;
    transform:translate3d(0,0,0);
}

.example-leave {
    transform:translate3d(0,0,0);
}

.example-leave-active {
    transition:all ease-out 1s;
    transform:translate3d(-100%,0,0);
}

.carousel1-enter {
    opacity: 0;
}
.carousel1-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}
.carousel1-leave {
    opacity: 1;
}
.carousel1-leave-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}


